@font-face {
    font-family: 'Organetto';
    src: url('fonts/Fontspring-DEMO-organetto-cndbold.otf');
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Organetto';
}

.bg-nav{
    background-color: #004199;
}


.navbar-brand{
    font-size: 40px;
}

.profile{
    border-radius: 50%;
    background-color: #004199;
}

h1{
    font-size: 4rem;
    line-height: 3.5rem;
    color: #004199;
}

#title{
    font-size: 2rem;
}

.progress-container {
    position: fixed;
    width: 100%;
    width: 100%;
    height: 8px;
    background: #004199;
}

.progress-bar {
    height: 8px;
    background: #009E4B;
    width: 0%;
}

hr{
    border: 5px solid #009E4B;
    opacity: 1;
}

.btn-modal{
    border: 0;
    border-radius: 10%;
}

.modal-img{
    border-radius: 10%;
    width: 25rem;
}

footer{
    background-color: #004199;
    color: white;
}